<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="navbar::head('Préstamos')">
</head>
<body>
<div th:replace="navbar.html::navbar('Préstamos')"></div>
<h1>Préstamos</h1>
<div>
    <a sec:authorize="hasAnyAuthority('Profesor')" class="btn btn-info" href="/vistaAgregarPrestamo">Registrar préstamo</a>
</div>
<div style="padding: 20px;width: 100%">
    <table style="width: 100%;">
        <thead>
        <tr>
            <td>ID</td>
            <td>Profesor</td>
            <td>Estudiante</td>
            <td>Dispositivo</td>
            <td>Fecha de inicio</td>
            <td>Fecha de fin</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prestamo:${listaPrestamos}">
            <td th:text="${prestamo.id}"></td>
            <td th:text="${prestamo.profesor.nombre}"></td>
            <td th:text="${prestamo.alumno.nombre}"></td>
            <td th:text="${prestamo.dispositivo.nombre}"></td>
            <td th:text="${prestamo.fechaInicio}"></td>
            <td th:text="${prestamo.fechaFin}"></td>
            <td sec:authorize="hasAnyAuthority('Profesor')">
                <div class="row">
                    <div class="col-6">
                        <a th:href="@{|/devolverPrestamo?id=${prestamo.id}|}">Devolver</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>